.store {
    margin: 50px auto;
    width: 100%;
    max-width: 1200px;
}

.store__title-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 1200px;
    width: 100%;
    margin: 150px auto 50px;

    @include breakpoint($tablet-bp) {
        margin: 50px auto 50px;
    }

    @include breakpoint($tablet-bp) {
        padding: 0 15px;
    }
}

.store__title-h1 {
    margin-left: 5px;
}

.store__filter-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto 50px;

    @include breakpoint($tablet-bp) {
        padding: 0 15px;
    }
}

.store__filter-type {
    display: flex;
    width: 100%;

    @include breakpoint($tablet-bp) {
        width: 100%;
        flex-wrap: wrap;
    }
}

.store__filter-color {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 5px;

    @include breakpoint($tablet-bp) {
        width: 50%;
    }
}

.store__filter-price {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-left: auto;
    padding: 5px;

    @include breakpoint($tablet-bp) {
        width: 50%;
    }
}



.store__filter-data {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 5px;

    @include breakpoint($tablet-bp) {
        width: 33.333%;
    }

    @include breakpoint($mobile-bp) {
        width: 50%;
    }
}

.store__filter-label {
    font-size: 14px;
    font-family: 'Play', sans-serif;
    letter-spacing: .7px;
    display: flex;
    margin-bottom: 10px;
    opacity: .5;

    @include breakpoint($tablet-bp) {
        margin-bottom: 3px;
    }
}

.store__filter-input {
    padding: 15px 20px;

    font-family: 'Play', sans-serif;
    font-style: italic;
    letter-spacing: 1.5px;

    background: none;
    border: 2px solid rgb(40 40 40);

    font-size: 12px;
    transition: background-color $transition-fast $transition;
    color: rgb(255, 255, 255);

    cursor: pointer;

    &::placeholder {
        color: rgb(255, 255, 255);
    }

    &:hover {
        background-color: rgb(49, 49, 49);
        transition: background-color $transition-fast $transition;

        .store__filter-label {
            opacity: 1;
        }

    }
}

.store__product-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1300px;
    margin: 0 auto;
    width: 100%;
    min-height: 430px;

    @include breakpoint($tablet-bp) {
        padding: 0 15px;
    }
}

.store__product {
    display: flex;
    width: 25%;
    padding: 5px;
    cursor: pointer;

    &:hover {
        .store__product-data {
            background: rgb(35, 35, 35);
        }

        .image-switch__img img {
            opacity: 0.9;
        }

        .store__product-img {
            opacity: 1;
            transform: translateY(-5px);
            transition: transform $transition-fast $transition;
        }

    }

    @include breakpoint($tablet-bp) {
        width: 33.333%;
    }

    @include breakpoint($mobile-bp) {
        width: 50%;
    }

}


.store__product-data {
    width: 100%;
    text-align: center;
    border-radius: $border_radius-15;
    background: rgb(31, 31, 31);
    transition: background-color .2s linear, opacity .2s linear;

}


.store__product-image {
    display: flex;
    height: 250px;

    @include breakpoint($tablet-bp) {
        height: 220px;
    }

    @include breakpoint($mobile-bp) {
        height: 200px;
    }
}

.store__product-img {
    display: flex;
    object-fit: contain;
    margin: 20px auto;
    width: 70%;
    opacity: 0.9;
    transition: transform $transition-fast $transition;

    @include breakpoint($tablet-bp) {
        width: 80%;
    }

    @include breakpoint($mobile-bp) {
        width: 100%;
    }
}

.store__product-title {
    font-size: 15px;
}

.store__product-term {
    font-size: 12px;
}

.store__product-price {
    margin: 10px auto 20px;
}