.dashboard__listing {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px;
}

.dashboard__listing-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 15px 10px;
    border-bottom: 1px solid #1a1a1a;

}





.dashboard__listing-edit-link {
    text-decoration: none;
    color: white;
}