.cart {
    margin: 110px auto 50px;
    width: 100%;
    max-width: 1200px;

    @include breakpoint($mobile-bp) {
        margin: 75px auto 50px;
    }
}

.cart__title-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 1200px;
    width: 100%;
    margin: 20px auto 50px;
}

.cart__title-h1 {
    margin-left: 15px;
}

.cart__product-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 650px;
    max-width: 1300px;
    margin: 0 auto;
    width: 100%;
    padding: 20px 10px;
    background-color: rgb(31, 31, 31);
}

.cart__product-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.cart__product-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    border-top: 1px solid rgb(54 54 54);
    background-color: #292e30;

    @include breakpoint($mobile-bp) {
        border-top: 1px solid rgb(150, 150, 150);
    }
}

.cart__product-item-title {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    font-size: 12px;
    border-top: 1px solid rgb(45 45 45);
    background-color: rgb(36 39 40);

    @include breakpoint($mobile-bp) {
        display: none;
    }
}

.cart__product-title {
    display: flex;
    color: #949494;

    @include breakpoint($mobile-bp) {
        display: none;
    }

    &--number {
        width: 3%;

        @include breakpoint($navigation-bp) {
            width: 3%;
        }
    }

    &--image-wrapper {
        width: 10%;

        @include breakpoint($navigation-bp) {
            width: 18%;
        }
    }

    &--name {
        width: 10%;

        @include breakpoint($navigation-bp) {
            padding-left: 10px;
            width: 19%;
        }
    }

    &--color {
        width: 10%;

        @include breakpoint($navigation-bp) {
            padding-left: 10px;
            width: 15%;
        }
    }

    &--category {
        width: 10%;

        @include breakpoint($navigation-bp) {
            display: none;
        }
    }

    &--price {
        width: 10%;

        @include breakpoint($navigation-bp) {
            padding-left: 10px;
            width: 15%;
        }
    }

    &--quantity {
        width: 30%;

        @include breakpoint($navigation-bp) {
            justify-content: center;
            width: 15%;
        }

        // @include breakpoint($tablet-bp) {
        //     width: 25%;
        // }
    }

    &--sum {
        width: 10%;

        @include breakpoint($navigation-bp) {
            padding-left: 10px;
            width: 15%;
        }
    }

    &--delete {
        justify-content: center;
        width: 7%;

        @include breakpoint($navigation-bp) {
            display: none;
        }
    }

}

.cart__product-span {
    display: none;

    // @include breakpoint($navigation-bp) {
    //     font-size: 12px;
    //     display: flex;
    //     opacity: .5;
    //     margin-left: 0;
    //     margin-right: auto;
    // }
}

.cart__product-number {
    display: flex;
    width: 3%;

    @include breakpoint($navigation-bp) {
        width: 3%;
    }

    @include breakpoint($mobile-bp) {
        width: 10%;
        font-size: 18px;
        padding: 10px 0px;
        border-bottom: 1px solid #363636;
    }
}

.cart__product-image-wrapper {
    display: flex;
    width: 10%;

    @include breakpoint($navigation-bp) {
        width: 18%;
    }

    @include breakpoint($mobile-bp) {
        padding: 10px 0px;
    }
}

.cart__product-name {
    display: flex;
    width: 10%;

    @include breakpoint($navigation-bp) {
        flex-direction: column;
        width: 19%;
        padding: 10px;
    }

    @include breakpoint($tablet-bp) {
        font-size: 12px;
    }

    @include breakpoint($mobile-bp) {
        font-size: 18px;
        justify-content: flex-end;
        padding: 10px 0px;
        width: 100%;
        border-bottom: 1px solid #363636;
    }
}

.cart__product-color {
    display: flex;
    width: 10%;

    @include breakpoint($navigation-bp) {
        flex-direction: column;
        width: 15%;
        padding: 10px;
    }

    @include breakpoint($tablet-bp) {
        font-size: 12px;
    }

    @include breakpoint($mobile-bp) {
        font-size: 18px;
        justify-content: flex-end;
        padding: 10px 0px;
        width: 100%;
        border-bottom: 1px solid #363636;
    }
}

.cart__product-category {
    display: flex;
    width: 10%;

    @include breakpoint($navigation-bp) {
        display: none;
    }

    @include breakpoint($tablet-bp) {
        font-size: 12px;
    }

    @include breakpoint($mobile-bp) {
        font-size: 18px;
        justify-content: flex-end;
        padding: 10px 0px;
        width: 100%;
        border-bottom: 1px solid #363636;
    }
}

.cart__product-price {
    display: flex;
    width: 10%;

    @include breakpoint($navigation-bp) {
        flex-direction: column;
        width: 15%;
        padding: 10px;
    }

    @include breakpoint($tablet-bp) {
        font-size: 12px;
    }

    @include breakpoint($mobile-bp) {
        font-size: 18px;
        justify-content: flex-end;
        padding: 10px 0px;
        width: 100%;
        border-bottom: 1px solid #363636;
    }
}

.cart__product-quantity-wrapper {
    display: flex;
    width: 30%;
    flex-direction: row;
    align-items: center;

    @include breakpoint($navigation-bp) {
        width: 15%;
        flex-direction: column;
        margin: 0 auto;
    }

    @include breakpoint($mobile-bp) {
        flex-direction: row;
        width: 100%;
        padding: 50px 0px;
        justify-content: center;
        border-bottom: 1px solid #363636;
    }
}

.cart__product-quntity {
    padding: 5px 40px;
    color: aliceblue;
    border: 1px solid rgb(82, 82, 82);
    margin-left: 15px;

    @include breakpoint($navigation-bp) {
        margin-left: 0px;
    }

    @include breakpoint($tablet-bp) {
        padding: 5px 20px;
        font-size: 12px;
    }

    @include breakpoint($mobile-bp) {
        padding: 5px 40px;
        margin-left: 50px;
    }

}

.cart__product-sum {
    display: flex;
    width: 10%;

    @include breakpoint($navigation-bp) {
        flex-direction: column;
        width: 15%;
        padding: 10px;
    }

    @include breakpoint($tablet-bp) {
        font-size: 12px;
    }

    @include breakpoint($mobile-bp) {
        font-size: 18px;
        justify-content: flex-end;
        padding: 10px 0px;
        width: 100%;
        border-bottom: 1px solid #363636;
    }
}

.cart__product-delete-wrapper {
    display: flex;
    justify-content: center;
    width: 7%;
    flex-direction: row;
    align-items: center;

    @include breakpoint($navigation-bp) {
        display: none;
    }

    @include breakpoint($mobile-bp) {
        display: none;
    }
}

.cart__product-img {
    border: 1px solid rgb(54 54 54);
    width: 100px;

    @include breakpoint($mobile-bp) {
        width: 200px;
    }
}

.cart__product-delete-button {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 60px;
    width: 60px;
    background: none;
    border: 1px solid rgb(54, 54, 54);
    border-radius: 10%;
    margin: 0 3px;
    font-size: 15px;
    color: rgb(192, 192, 192);
    opacity: .7;
    transition: color $transition-fast $transition, border-color $transition $transition-fast;

    &:hover {
        color: white;
        border-color: rgb(87, 87, 87);
        transition: color $transition $transition-fast, border-color $transition $transition-fast;
    }

    &:active {
        font-size: 17px;
        background-color: rgb(87, 87, 87);
    }
}

.cart__product-quantity-button {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 60px;
    width: 60px;
    background: none;
    border: 1px solid rgb(54, 54, 54);
    border-radius: 10%;
    margin: 0 3px;
    font-size: 20px;
    color: rgb(192, 192, 192);
    transition: color $transition-fast $transition, border-color $transition $transition-fast;

    &:hover {
        color: white;
        border-color: rgb(87, 87, 87);
        transition: color $transition $transition-fast, border-color $transition $transition-fast;
    }

    &:active {
        font-size: 25px;
        background-color: rgb(87, 87, 87);

        .cart__product-quntity {
            background-color: #202425;
        }

    }

    @include breakpoint($navigation-bp) {
        margin-bottom: 10px;
    }

    @include breakpoint($mobile-bp) {
        height: 70px;
        width: 70px;
    }
}

.cart__product-total {
    display: flex;
    flex-direction: row;
}

.cart__product-total--left {
    display: flex;
    justify-content: flex-end;
    width: 83%;

    @include breakpoint($mobile-bp) {
        width: 70%;
    }
}

.cart__product-total-p {
    margin-right: 20px;
}

.cart__product-total--right {
    display: flex;
    width: 17%;

    @include breakpoint($mobile-bp) {
        width: 30%;
        justify-content: flex-end;
    }
}

.cart__product-totalresult {
    display: flex;
    flex-direction: row;
}











.cart__link {
    display: flex;
    justify-content: flex-end;
    max-width: 1000px;
    margin: 50px auto 10px;
    width: 100%;
    margin-bottom: 0px;
    margin-top: auto;
    flex-direction: row;
}

.cart__link-a {
    display: flex;
    flex-direction: row;
    width: 50%;
}