.comparison {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
    flex-direction: column;
    margin-bottom: 10px;
    white-space: nowrap;

    @include breakpoint($tablet-bp) {
        overflow: auto;
        padding-bottom: 20px;
        max-width: 100%;
    }

    @include breakpoint($mobile-bp) {
        overflow: auto;
        padding-bottom: 20px;
        max-width: 100%;
    }
}

.tr {
    font-family: 'Play';
    margin-top: 10px;
    width: 200px;
    padding-right: 20px;
}

.td {
    font-family: 'Play';
    padding: 15px 25px;
    border: 1px dashed rgb(77, 77, 77);

    @include breakpoint($mobile-bp) {
        padding: 7px 10px;
        font-size: 12px;
    }
}


thead,
tfoot {
    text-align: left;
    background-color: #1f2a2e;
    color: rgb(204, 204, 204);
}

sup {
    color: rgb(189, 189, 189);
    vertical-align: super;
    font-size: 9px;
}


.comparison__description {
    display: flex;
    flex-direction: column;
    width: 1000px;
    margin: 50px auto 100px;

    @include breakpoint($mobile-bp) {
        max-width: 85%;
    }
}

.comparison__description-text {
    text-align: left;
    margin: 5px 0;
    font-size: 14px;
    letter-spacing: .5px;
    max-width: 60%;
    color: rgb(209, 209, 209);
}