.intro__data--admin {
    // background-image: url(/images/pages_images/home_images/home-intro1.jpg);
    height: 350px;
}

.intro__paragraph--admin {
    @include breakpoint($mobile-bp) {
        background-color: rgba(255, 255, 255, 0.123);
        backdrop-filter: blur(2px);
    }
}