$primary: #202020;
$secondary: #121212;
$white: #fff;
$black: #000;
$red: #ed3024;
$blue: #334449;
$deepblue: #1d2629;

$z-index-sidebar: 1011;
$z-index-header: 1002;
$z-index-modal: 1010;

$sidebar-width: 100%;

$tablet-bp: 991px;
$tablet-bp2: 770px;

$mobile-bp: 575px;
$mobile-bp2: 460px;
$mobile-bp3: 350px;