@import "vars";
@import "mixins";
@import "vendor/reset";
@import "vendor/swiper";

html {
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    background-color: $background-app;
    font-size: 1.4rem;
    font-family: 'Play', sans-serif;

    color: $white;
    line-height: 1.5;

    &.no-scroll {
        overflow: hidden;
    }

    &.bodyMargin15 {
        margin-right: 15px;
    }

    &.searchMargin15 {
        margin-right: 15px;
    }

    @include breakpoint($tablet-bp) {
        &.show-sidebar {
            overflow: hidden;
        }
    }
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

h1 {
    font-family: 'Play', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: black;
    line-height: 1;

    @include breakpoint($tablet-bp) {
        font-size: 20px;
    }
}

h2 {
    font-size: 29px;
    font-weight: 500;
    color: black;
    line-height: 1;

    @include breakpoint($tablet-bp) {
        font-size: 20px;
    }
}

p {
    font-family: 'Play', sans-serif;
    color: black;
}

sup {
    color: black;
    vertical-align: super;
    font-size: 9px;
}

.border {
    width: 40%;
    border-bottom: 5px solid #1f1f1f;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

/*blocks*/
@import 'blocks/upper-header';
@import 'blocks/header';
@import 'blocks/breadcrumbs';
@import 'blocks/database';
@import 'blocks/databaseItem';
@import 'blocks/intro';

@import 'blocks/home-page/home-intro';



@import 'blocks/cultural-page/cultural-intro';
@import 'blocks/cultural-page/cultural-history';


@import 'blocks/contacts-page/contacts-intro';
@import 'blocks/contacts-page/contacts-general-info';
@import 'blocks/contacts-page/contacts-team.scss';
@import 'blocks/contacts-page/contacts-info.scss';

@import 'blocks/login-page/login-intro';
@import 'blocks/registration-page/registration-intro';

@import 'blocks/admin-page/admin-intro';
@import 'blocks/admin-page/admin-common-settings';
@import 'blocks/admin-page/admin-lot-settings';

@import 'blocks/admin-page/lot-create/lot-create-intro';
@import 'blocks/admin-page/lot-create/lot-create-data';

@import 'blocks/listing';
@import 'blocks/services';

@import 'blocks/form';
@import 'blocks/footer';



@import 'components/database/database-filter';
@import 'components/database/nouislider';
@import 'components/pagination';
@import 'components/buttons';
@import 'components/expanders';
@import 'components/tothetop';


@import 'elements/input';
@import 'elements/input-checkbox';
@import 'elements/input-text';
@import 'elements/input-test';