.contacts-info {
    z-index: 1;
    max-width: 1400px;
    width: 100%;
    margin: 0px auto 20px;
    background-color: $background-section;
}

.contacts-info__data {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    padding-bottom: 100px;
}

.contacts-info__text-wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0px auto;
    padding-top: 45px;

    @include breakpoint($navigation-bp) {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.contacts-info__title {
    font-size: 33px;
    font-weight: 700;

    @include breakpoint($mobile-bp) {
        font-size: 27px;
        width: 100%;
    }
}

.contacts-info__paragraph {
    margin-top: 10px;
    font-size: 19px;
    font-weight: 500;
    width: 50%;

    @include breakpoint($mobile-bp) {
        font-size: 17px;
        width: 70%;
    }
}

.contacts-info__table {
    color: #000;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #dddddd;
}

.contacts-info__caption {
    color: #000;
    text-align: left;
    padding: 20px 23px;
    background-color: $background-item;
}

.contacts-info__thead {
    background-color: $background-item;
}

.contacts-info__tbody {
    background-color: $background-item;
}

.contacts-info__tr {
    border: 1px solid #dddddd;
}

.contacts-info__td {
    border-right: 1px solid #dddddd;
}

thead th:nth-child(1) {
    width: 50%;
}

thead th:nth-child(2) {
    width: 50%;
}

th,
td {
    padding: 10px 30px;
    text-align: left;

    @include breakpoint($mobile-bp) {
        padding: 12px 5px;
    }
}

.contacts-info__footnote {
    font-size: 10px;
}