.intro__data--contacts {
    background-image: url(/images/pages_images/contacts_images/contacts-intro1.jpg);

    @include breakpoint($mobile-bp) {
        background-position-x: -540px;
    }
}

.intro__paragraph--contacts {
    @include breakpoint($mobile-bp) {
        background-color: rgba(0, 0, 0, 0.123);
        backdrop-filter: blur(3px);
        color: rgb(0, 0, 0);
    }
}