.general-info {
    z-index: 1;
    max-width: 1400px;
    width: 100%;
    margin: 0px auto 20px;
    background-color: $background-section;
}

.general-info__data {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.general-info__text-wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0px auto;
    padding-top: 45px;

    @include breakpoint($navigation-bp) {
        padding-left: 15px;
    }
}

.general-info__title {
    font-size: 33px;
    font-weight: 700;
    margin-bottom: 20px;

    @include breakpoint($mobile-bp) {
        font-size: 27px;
        width: 70%;
        margin-bottom: 20px;
    }
}

.general-info__paragraph {
    margin-top: 5px;
    font-size: 19px;
    font-weight: 500;
    width: 50%;
    filter: blur();

    @include breakpoint($mobile-bp) {
        width: 100%;
        margin-top: 0px;
        font-size: 17px;
        padding: 3px;
    }
}

.general-info__paragraph--tel {
    display: block;
    color: $deepblue;

    &:hover {
        color: blue;
    }

}

.general-info__paragraph--email {
    display: block;
    color: $deepblue;

    &:hover {
        color: blue;
    }
}