.intro__data--login {
    background: rgb(161, 161, 161);
    background: linear-gradient(90deg, rgba(161, 161, 161, 1) 0%, rgba(150, 150, 150, 1) 100%);
    // background-image: url(/images/pages_images/login_images/login-page2.jpg);
}

.intro__paragraph--login {
    @include breakpoint($mobile-bp) {
        background-color: rgba(255, 255, 255, 0.123);
        backdrop-filter: blur(2px);
    }
}

.login-intro__arrow {
    margin-left: 5px;
    height: 30px;
    opacity: .6;
}