.select {
    width: 100%;

    /*Убираем браузерную стрелку*/
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    padding: 10px 35px 10px 15px;
    border: 2px solid rgb(83, 83, 83);
    background-color: rgb(83, 83, 83);
    cursor: pointer;

    /*Убираем рамку поля выбора при фокусе*/
    outline: none;

    font-family: 'Play';
    color: aliceblue;

    transition: border-color $transition $transition-fast;

    &:hover {
        border: 2px solid rgb(112, 112, 112);
        transition: border-color $transition $transition-fast;
    }
}

.select:focus {
    outline: none;
    border: 2px solid rgb(228, 228, 228);
}

.select::-ms-expand {
    /*Убираем браузерную стрелку в IE в 10 и 11 версии*/
    display: none;
}

.select-wrapper {
    position: relative;
}

.select-wrapper::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-40%);
    display: block;

    /*рисуем треугольник*/
    width: 0;
    height: 0;
    border-width: 10.4px 6px 0 6px;
    border-color: #dadada transparent transparent transparent;
    border-style: solid;

    /*снимаем клик с треугольника*/
    pointer-events: none;
}






//select from Minin
$height: 46px;

.sellect {
    width: 100%;
    position: relative;
    z-index: 100;

    &.open {
        .sellect__dropdown {
            display: block;
        }

        .sellect__input {
            border-bottom: none;
        }

        .sellect__backdrop {
            display: block;
        }
    }


    &__input {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid white;
        height: $height;

        padding: 0 20px;

        font-family: Play;
        color: white;

        cursor: pointer;

        // .sellect__icon {
        //     margin-left: auto;
        // }
    }

    &__dropdown {
        display: none;
        position: absolute;
        border: 1px solid white;
        top: $height;
        left: 0;
        right: 0;
        max-height: 200px;
        overflow-y: auto;

        font-family: Play;
        color: white;
        background-color: #363636
    }


    &__list {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    &__backdrop {
        z-index: -1;
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: transparent;
    }

    &__item {
        padding: 10px 20px;
        border-bottom: 1px solid white;

        &.selected {
            background-color: #29303b;
        }

        &:hover {
            background-color: #272727;
            cursor: pointer;
            transition: background-color $transition $transition-fast;
        }
    }



}