.table {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    margin-bottom: 10px;
    white-space: nowrap;

    font-family: "Play", sans-serif;


    @include breakpoint($tablet-bp) {
        overflow: auto;
        padding-bottom: 20px;
        max-width: 100%;
    }

    @include breakpoint($mobile-bp) {
        overflow: auto;
        padding-bottom: 20px;
        max-width: 100%;
    }
}

.table__data {
    width: 100%;
}

.table__tr {
    font-family: 'Play';
    margin-top: 10px;
    width: 200px;
    padding-right: 20px;


}

.table__td {
    font-family: 'Play';
    font-size: 14px;
    padding: 15px 25px;
    // border: 1px dashed rgb(77, 77, 77);
    border: 1px solid rgb(49 49 49);

    @include breakpoint($mobile-bp) {
        padding: 20px 20px;
        font-size: 15px;
    }
}


.table__thead {
    text-align: left;
    // background-color: #1f2a2e;
    background-color: #2b2b2b;
    color: rgb(204, 204, 204);
}




.table__description {
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    max-width: 1200px;
    width: 100%;
}

.table__description-text {
    display: flex;
    width: 60%;
    text-align: left;
    margin: 5px 0;
    font-size: 14px;
    letter-spacing: .5px;
    color: rgb(209, 209, 209);

    @include breakpoint($mobile-bp) {
        max-width: 70%;
    }
}