footer {
    background: #131313;

    width: 1000px;
    margin: 0 auto;

    border-radius: $border_radius-15 $border_radius-15 0px 0px;
    padding-bottom: 20px;

    @include breakpoint($mobile-bp) {
        width: 100%;
    }
}


.fast-links {
    position: relative;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 50px 0;
    padding-top: 100px;

    @include breakpoint($mobile-bp) {
        padding-left: 30px;
        padding-right: 30px;
        flex-direction: column;
    }
}

.fast-links__title {
    margin-right: 70px;

    @include breakpoint($mobile-bp) {
        font-size: 17px;
        margin-bottom: 35px;
        margin-right: 0px;
    }
}



.fast-links__title.socials {
    position: absolute;
    right: 0px;

    @include breakpoint($mobile-bp) {
        position: relative;
        right: auto;
    }
}


.fast-links__items-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    @include breakpoint($mobile-bp) {
        justify-content: space-between;
    }
}

.fast-links__items-li {
    @include breakpoint($mobile-bp) {
        display: flex;
        justify-content: space-between;
    }
}


.fast-links__items img {
    width: 25px;
    height: 25px;
    margin-right: 20px;
    opacity: .8;

    @include breakpoint($mobile-bp) {
        margin-right: 25px;
    }
}

.fast-links__items img:hover {
    opacity: 1;
    cursor: pointer;
}

@media screen and (max-width: 600px) and (min-width: 300px) {

    .fast-links__title.socials {
        position: relative;
    }

    // .fast-links__items-flex{
    //     justify-content: flex-start; 
    // }
    .fast-links__items img {
        width: 30px;
        height: 30px;
        margin-right: 1px;
    }

}




.fast-links__items a {
    color: rgb(180, 180, 180);
}

.fast-links__items a:hover {
    color: rgb(214, 214, 214);
}


.fast-links__title p {
    padding-bottom: 10px;

    @include breakpoint($mobile-bp) {
        padding-bottom: 20px;
    }
}

.fast-links__items-li p {
    display: none;

    // visibility: hidden;
    @include breakpoint($mobile-bp) {
        padding-bottom: 0px;
        display: block;
    }
}

.fast-links__title ul li {
    padding-bottom: 3px;

    @include breakpoint($mobile-bp) {
        padding: 15px 10px;
        border-bottom: 2px solid #252525;
    }
}

.fast-links__items-flex li {
    @include breakpoint($mobile-bp) {
        border-bottom: none;
    }

}


.footer {
    border-top: 1px solid rgb(70, 70, 70);

    @include breakpoint($mobile-bp) {
        border-top: 5px solid rgb(70, 70, 70);
        padding: 0 30px;
    }

}


.footer__low {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
    gap: 30px;
    color: rgb(180, 180, 180);

    @include breakpoint($mobile-bp) {
        flex-direction: column;
        gap: 0;
    }
}

.footer__low .copyright {
    margin-top: 10px;
}

.footer__low a {
    margin-top: 10px;
    color: rgb(180, 180, 180);
}

.country a {
    margin-top: 10px;
    padding-right: 0px;

    @include breakpoint($mobile-bp) {
        margin-top: 50px;
    }
}



.footer__low .country {
    order: 1;
}


.footer__low .links {
    order: 3;
    display: flex;
    justify-content: space-between;
    text-align: right;


    @include breakpoint($mobile-bp) {
        flex-direction: column;
        text-align: left;
        order: 2;
    }
}




.footer__low .copyright {
    margin-top: 10px;
    margin-bottom: 0px;
    order: 2;

    @include breakpoint($mobile-bp) {
        order: 3;
        margin-bottom: 30px;
    }
}


.logo-footer {
    display: none;

    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    /* IE 6-9 */

    width: 30px;
    margin: -10px auto 30px;

    @include breakpoint($mobile-bp) {
        display: flex;
        width: 20px;
    }
}