.iconsnav {
	display: flex;
	width: 25%;
	padding: 5px;
	cursor: pointer;

	@include breakpoint($tablet-bp) {
		width: 50%;
	}

	@include breakpoint($mobile-bp) {
		width: 50%;
	}

	&:hover {
		.iconsnav-content {
			transition: background-color .2s linear;
			background: rgb(35, 35, 35);
			box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
		}

		.icon__text {
			opacity: .9;
			transition: opacity .2s linear;
		}
	}

}

.iconsnav-content {
	width: 100%;
	padding: 20px 10px;
	text-align: center;
	background: #1f1f1f;
	transition: background-color .2s linear;
	border-radius: $border_radius-15;

	@include breakpoint($mobile-bp) {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
}

.store__iconsnav {
	padding: 10px 25px 15px 25px;
}

.iconsnav img {
	width: 55px;

	@include breakpoint($mobile-bp) {
		width: 40px;
	}
}

.iconsnavwraper {
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	margin-bottom: 50px;
}

.icon__info {
	display: block;

	@include breakpoint($mobile-bp) {
		display: none;
	}
}

.icon__title {
	@include breakpoint($mobile-bp) {
		padding-left: 10px;
	}
}

.icon__text {
	font-size: 12px;
	padding: 10px 15px;
	opacity: .7;
	transition: opacity .2s linear;
}