.knives__description{
    margin-top: 40px;
    margin-bottom: 70px;
    max-width: 80%;
}

.knives__section{
    max-width: 100%;
    width: 1200px;
    margin: 0 auto;
}


.knives__photo-item{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 800px;
    margin: 0 auto;
    margin-bottom: 90px;
}

.knives__photo-item-vertical{
    width: 600px;
}

.knives__picture{
    display: flex;
    max-width: 100%;
    // margin: 0 auto;
    margin-bottom: 10px;
}

.kinves__photo-description{
    font-size: 12px;
    font-weight: 300;
    text-align: right;
}