.link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 10px 20px;
    border-radius: $border_radius-15;

    transition: background-color $transition-fast $transition, border-color $transition-fast $transition;
    cursor: pointer;

    @include breakpoint($mobile-bp) {
        padding: 20px 30px;
    }

    &:hover {

        .link__text {
            opacity: 1;
            transition: opacity $transition-fast $transition;
        }

        .link__icon {
            opacity: 1;
            transform: translateX(5px);
            transition: transform $transition-fast $transition, opacity $transition-fast $transition;
        }
    }
}

.link--offer {
    position: absolute;
    bottom: 10px;
    right: 0px;
    width: calc(50% - 5px);
    border: 1px solid #222222;
    background-color: rgba(24, 24, 24, 0.85);
    backdrop-filter: blur(6.8px);
    -webkit-backdrop-filter: blur(6.8px);
    box-shadow: 0px 4px 8px 0px rgb(0 0 0 / 20%);

    @include breakpoint($mobile-bp) {
        width: 50%;
    }


    &:hover {
        background-color: rgba(19, 19, 19, 0.90);
        backdrop-filter: blur(6.8px);
        -webkit-backdrop-filter: blur(6.8px);
        -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);

        transition: border-color $transition-fast $transition, background-color $transition-fast $transition;

        .link__text {
            opacity: 1;
            transition: opacity $transition-fast $transition;
        }

        .link__icon {
            opacity: 1;
            transform: translateX(5px);
            transition: transform $transition-fast $transition, opacity $transition-fast $transition;
        }
    }
}

.link--category {
    width: 50%;
    margin: 0 auto;
    border: 1px solid rgb(104, 104, 104);

    @include breakpoint($mobile-bp) {
        display: none;
    }
}

.link--category-mobile {
    display: none;

    @include breakpoint($mobile-bp) {
        margin: 0 auto;
        display: flex;
        width: 100%;
        margin-bottom: 30px;
    }
}

.link--store {
    margin: 0 auto;
    width: 40%;
    margin-bottom: 30px;

    box-shadow: none;

    background-color: #334449;
    transition: background-color $transition-fast $transition;

    @include breakpoint($tablet-bp) {
        width: 60%;
    }

    @include breakpoint($mobile-bp) {
        width: 70%;
    }

    &:hover {
        background-color: #243033;
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
        transition: background-color $transition-fast $transition;
    }
}

.link--product {
    margin-right: auto;
    width: 40%;
    margin-bottom: 30px;

    box-shadow: none;

    background-color: #334449;
    transition: background-color $transition-fast $transition;

    @include breakpoint($tablet-bp) {
        width: 60%;
    }

    @include breakpoint($mobile-bp) {
        width: 70%;
    }

    &:hover {
        background-color: #243033;
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
        transition: background-color $transition-fast $transition;
    }
}

.link--dashboard {
    width: 25%;
    padding: 2px 10px;

    @include breakpoint($mobile-bp) {
        padding: 2px 2px;
        width: 50%;
        height: 200px;
    }
}

.link--cart {
    display: flex;
    width: 50%;
    margin: 10px 0 20px;
    margin-left: auto;
    margin-right: 0px;
    padding: 20px 20px;
    border: 1px solid rgb(104, 104, 104);

    @include breakpoint($mobile-bp) {
        padding: 20px 20px;

    }
}

.link__text {
    color: white;
    opacity: .7;
    font-size: 12px;
    transition: opacity $transition-fast $transition;
}

.link__icon {
    opacity: .3;
    height: 20px;
    transition: transform $transition-fast $transition, opacity $transition-fast $transition;
}