.main {
    margin-top: 110px;
    padding-bottom: 8rem;

    @include breakpoint($tablet-bp) {
        padding: 10px 0 5rem;
    }

    @include breakpoint($mobile-bp) {
        padding-top: 0px;
    }
}