

.map{
    margin-left: 5px;
}

.map-wrapper{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;

}

.map-wrapper_left{
    margin-right: 200px;
}

.map-wrapper_right{
    width: 45%;
}


.spacer{
    margin-bottom: 50px;
}
.map__home .map__composites{
    margin-bottom: 20px;
}
// .map__home{
//     margin-top: 50px;
// }
.map__title{
    font-size: 20px;
    margin-bottom: 25px;;
    background-color: #202020;
}

.map__link{
    text-decoration: none;
    line-height: 20px;
    border-bottom: 1px dotted #323c41;
    padding-bottom: 2px;
    color: white;
    margin-right: 30px;
    margin-bottom: 10px;
    &:hover{
        text-decoration: none;
        border-bottom: 1px solid #ffffff;
    }
    
}

.map__link-wrapper{
    display: flex;
    flex-wrap: wrap;
    max-width: 70%;
}

.map__border{
    margin-top: 20px;
    width: 20%;
    border: 2px solid #464646;
    margin-bottom: 100px;
}

.map__subtitle{
    margin-bottom: 5px;
    color:#b4b4b4;
}

// .map__delivery{
//     // margin-top: 50px;
// }