.offer {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-bottom: 50px;
}

// .offer__item{
// 	max-width: 49%;
//     margin: 0 0.5%;
// 	text-align: center;
// 	border-radius: 50px;
//     overflow: hidden;
//     position: relative;

//     @include breakpoint($mobile-bp) {
//         max-width: 99%;
//         margin: 15px 0px;
//     }
// }

.offer__item {
    max-width: 49%;
    width: 100%;
    height: 500px;
    margin: 0 0.5%;
    text-align: center;
    border-radius: 50px;
    overflow: hidden;
    position: relative;
    background: #29363a;

    @include breakpoint($mobile-bp) {
        max-width: 99%;
        margin: 15px 0px;
    }
}

.offer__item img {
    display: flex;
    // width: 100%;
}

.offer__title {
    position: absolute;
    top: 15%;
    left: 58%;

    // font-size: 3.5em;
    // font-weight: 900;
    // line-height: 40px;

    font-size: 20px;
    font-weight: 700;
    line-height: 19px;

    z-index: 2;
    text-align: left;
    color: rgb(26, 26, 26);

    @include breakpoint($tablet-bp) {

        font-size: 20px;
        font-weight: 700;
        line-height: 19px;


        // font-size: 2.2em;
        // line-height: 35px;
    }


    //iphone5s
    @include breakpoint($mobile-bp3) {
        // font-size: 2.2em;

        font-size: 20px;
        font-weight: 700;
        line-height: 19px;
    }
}


.offer__learnmore {
    font-size: 15px;
    font-weight: 500;
    vertical-align: middle;
    text-align: center;
    color: #1a1a1a;
    cursor: pointer;
    border-radius: 30px;
    background-color: rgba($color: #ffffff, $alpha: 0.05);
    position: absolute;
    right: 5%;
    bottom: 5%;
    padding: 20px 25px 20px 25px;

    @include breakpoint($mobile-bp) {
        font-size: 12px;
        font-weight: 500;
        vertical-align: middle;
        text-align: center;
        color: #1a1a1a;
        cursor: pointer;
        border-radius: 30px;
        background-color: hsla(0, 0%, 100%, .05);
        position: absolute;
        right: 5%;
        bottom: 5%;
        padding: 15px 20px;
    }
}

.offer__learnmore:hover {
    background-color: rgba($color: #ffffff, $alpha: 0.15);
    transition: background-color 0.3s linear;
}

.offer__btn {
    font-size: 15px;
    font-weight: 500;
    vertical-align: middle;
    text-align: center;
    // color: #1a1a1a;
    color: #6c6c6c;
    cursor: pointer;
    border-radius: 30px;
    border-color: rgba($color: #ffffff, $alpha: 0.05);
    // background-color: rgba($color: #ffffff, $alpha: 0.05);
    // background-color: #29363a;
    background-color: rgb(31, 31, 31);
    position: absolute;
    right: 5%;
    bottom: 5%;
    padding: 20px 25px 20px 25px;
    transition: background-color 0.3s linear;

    @include breakpoint($mobile-bp) {
        font-size: 12px;
        font-weight: 500;
        vertical-align: middle;
        text-align: center;
        // color: #1a1a1a;
        color: #6c6c6c;
        cursor: pointer;
        border-radius: 30px;
        // background-color: hsla(0,0%,100%,.05);
        // background-color: #29363a;
        background-color: rgb(31, 31, 31);
        position: absolute;
        right: 5%;
        bottom: 5%;
        padding: 15px 20px;
    }
}

.offer__btn:hover {
    // background-color: rgba($color: #ffffff, $alpha: 0.15);
    background-color: rgb(43, 43, 43);
    transition: background-color 0.3s linear;
}

.offer__photo-sign {
    padding: 2px 5px;
    position: absolute;
    bottom: 16px;
    left: 32px;
    font-size: 10px;
    color: #dadada;
    background: rgba($color: #000000, $alpha: 0.25);
    ;
    // color: #808080;
    // background: rgba($color: #000000, $alpha: 0.8);
    border-radius: 6px;
}