.search{
    width: 100%;
    max-width: 38rem;
    background-color: #0e0e0e;
    margin-right: 10px;
    @include breakpoint($mobile-bp){
        display: none;
    }
}

.search__input{
    display: block;
    width: 100%;
    padding: .5rem 2rem;

    background:#1f1f1f;
    border: none;
    font-family: inherit;
    font-size: 1.2rem;
    line-height: 2.5;
    color: $white;

    border: 1px solid #1d1d1d;
    border-radius: 5px;

    &::placeholder{
        color: rgba($white, $alpha: 0.4);
    }

    @include breakpoint($tablet-bp){
        height: 5.8rem;
        padding-top: .9rem;
        padding-bottom: .9rem;
        font-size: 1.6rem;
    }

}