.textures_nav {
    max-width: 23%;
    cursor: pointer;
    margin: 0.2% 0.2%;
    transition: background-color .2s linear;

    margin: 10px;
    padding: 10px;
    border: 1px solid #232323;

    opacity: .75;


    @include breakpoint($tablet-bp) {
        max-width: 31.33%;
        margin: 1%;
    }

    @include breakpoint($mobile-bp) {
        max-width: 50%;
        width: 40%;
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
    }
}


.textures_nav:hover {
    background: rgb(35, 35, 35);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    opacity: 1;
    border-bottom: 1px solid #790000;
}

.textures_nav img {
    width: 100%;

    @include breakpoint($mobile-bp) {
        width: 80%;
    }
}


.textures_navwraper {
    width: 900px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 50px;
}

.four-colomn {
    width: 1100px;
}

.textures_title {
    font-size: 12px;
    color: #7c7c7c
}