.breadcrumbs-wrapper {
    display: inline-block;
    position: absolute;
    top: 53px;

    @include breakpoint($tablet-bp) {
        top: 50px;
    }
}

.breadcrumb-icon {
    height: 18px;
    color: aliceblue;
    padding-right: 5px;
    transform: translateY(-1px);

    @include breakpoint($mobile-bp) {
        height: 15px;
    }

}

.breadcrumb {
    display: flex;
    background-color: rgb(50, 50, 50);
    color: beige;
    opacity: 0;
}

.breadcrumb-item {
    padding: 7px 0px;
    padding-right: 25px;
    padding-left: 35px;
    opacity: 1;
    color: rgb(231, 231, 231);
    cursor: pointer;

    &:hover {
        background-color: rgb(65, 65, 65);
    }

    @include breakpoint($mobile-bp) {
        padding-left: 15px;
        font-size: 11px;
    }
}

.breadcrumb-item-first {
    padding: 7px 0px;
    padding-left: 35px;
    padding-right: 25px;

    @include breakpoint($mobile-bp) {
        padding-left: 15px;
    }
}

.breadcrumb li a {
    color: rgb(199, 199, 199);
}



.breadcrumb-item.active {
    color: rgb(255, 255, 255);
    background-color: rgb(116, 116, 116);
}