.footer {
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgb(50, 50, 50);
}

.footer__wrapper {
    max-width: 1000px;
    margin: 50px auto 0px;
    padding-top: 50px;

    @include breakpoint($navigation-bp) {
        margin: 50px 20px 0px 10px;
    }
}

.footer__wrapper-li {

    display: block;
    width: 100%;

    border-radius: 5px;
    cursor: pointer;



    @include breakpoint($mobile-bp) {
        padding: 0px 10px;
        border-bottom: 1px solid rgb(46, 46, 46);
        margin: 0px 0px;
    }

    &:hover {
        background-color: rgb(65, 65, 65);
        transition: background-color $transition-time $transition;

        .footer__wrapper-img {
            opacity: .75;
            transform: translateX(2px);
        }

        .footer__wrapper-paragraph {
            transition: color $transition-time $transition;
            color: rgb(238, 238, 238);
        }

        .footer__wrapper-link-description {
            transition: color $transition-time $transition;
            color: rgb(238, 238, 238);
        }

    }

}

.footer__wrapper-list-title {
    font-size: 16px;
    font-style: italic;
    color: rgb(150, 150, 150);
    margin-bottom: 25px;
}

.footer__wrapper-list {
    padding: none;
}

.footer__wrapper-link {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-decoration: none;
    padding: 8px 10px;
    font-size: 15px;

    transition: border-bottom .8s ease-in-out;
    margin-right: 10px;

    @include breakpoint($mobile-bp) {
        padding: 15px 0px;
    }
}

.footer__wrapper-paragraph {
    display: inline-block;
    color: rgb(197, 197, 197);
}

.footer__wrapper-paragraph--sitemap {
    padding: 0 15px;

    @include breakpoint($mobile-bp) {
        padding: 10px 0px 10px 0px;
    }
}

.footer__wrapper-link-description {
    display: inline-block;
    font-size: 10px;
    padding-left: 5px;
    margin-left: auto;
    color: rgb(110, 110, 110);
}

.footer__wrapper-img {
    margin-left: auto;
    height: 23px;
    opacity: .25;

    @include breakpoint($mobile-bp) {
        margin-left: none;
    }
}

.footer__top {
    display: flex;
    flex-direction: row;

    @include breakpoint($navigation-bp) {
        margin: 0px 5px;
    }

    @include breakpoint($mobile-bp) {
        flex-direction: column;
    }
}

.footer__top-left {
    display: block;
    width: 300px;

    @include breakpoint($mobile-bp) {
        width: 100%;
    }
}

.footer__top-right {
    margin-left: auto;
    margin-right: 0px;

    @include breakpoint($mobile-bp) {
        margin: 100px 0px 30px 0px;
    }
}

.footer__middle {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    height: 100px;

    @include breakpoint($navigation-bp) {
        margin: 100px 20px 0px;
    }

    @include breakpoint($mobile-bp) {
        flex-direction: column-reverse;
    }
}

.footer__middle-left {
    display: flex;
    flex-direction: row;

    @include breakpoint($mobile-bp) {
        margin-bottom: 100px;
    }
}

.footer__middle-right {
    margin-left: auto;
    margin-right: 0;

    @include breakpoint($mobile-bp) {
        margin-bottom: 30px;
        margin-left: 0px;
        margin-right: 0px;
    }
}

.footer__brand-logo {
    opacity: .55;
    height: 20px;
    width: 20px;
    margin-right: 15px;
}

.footer__brand-name {
    color: rgb(150, 150, 150);
}