.header {
    display: flex;
    background-color: rgb(50 50 50);
    z-index: 100;
}

.header_logo-and-name {
    padding: 0 35px;
    cursor: pointer;
}

.header_logo-and-name:hover {
    background-color: rgb(65, 65, 65);
}

.header_brand-logo {
    transform: translateY(-3px);
    height: 50px;
    width: 30px;
}

.header_brand-name {
    display: inline-block;
    padding-left: 20px;
    font-family: 'Play', sans-serif;
    font-size: 20px;
    color: white;
    line-height: 2.5;
}

.header-left {
    display: flex;
}

.header-left li {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
}

.header-right {
    display: flex;
    margin-right: 0px;
    margin-left: auto;
}

.header-right a {
    padding: 0 35px;
    font-family: 'Play', sans-serif;
    font-size: 20px;
    line-height: 2.5;
    color: white;
    transition: all 0.1s ease-in-out;
}


.header-right a:hover {
    background-color: rgb(65, 65, 65);
    color: white;
    text-decoration: none;
}





.nav-item {
    position: relative;

    &:hover {
        .nav-link {
            text-decoration: none;
            background-color: rgb(65, 65, 65);
        }

        >.subnav {
            display: block;
        }

        >.has-subnav {
            &:after {
                transform: translateY(-50%);
                border-color: black transparent transparent transparent;
            }
        }
    }
}

.nav-link {
    padding: 0px 55px 0px 35px;
    font-family: 'Play', sans-serif;
    font-size: 20px;

    line-height: 2.5;
    display: block;

    color: $white;
    text-decoration: none;
    transition: background-color .2s linear;

    &.has-subnav {
        position: relative;
        padding-right: 40px;

        &:after {
            content: "";
            display: block;
            margin-top: 2px;

            border-style: solid;
            border-width: 6px 5px 0 5px;
            border-color: $white transparent transparent transparent;
            position: absolute;
            top: 50%;
            right: 1.35rem;
            transform: translateY(-70%);
        }
    }
}


.subnav {
    z-index: 50;
    display: none;

    width: 300px;

    background-color: rgb(65, 65, 65);

    padding: 0 0 20px 0;

    position: absolute;
    top: 100%;
    left: 0;
}


.subnav-link {
    width: 100%;
    position: relative;
    z-index: 51;
    display: block;
    padding: 0px 35px;
    font-size: 20px;
    color: $white;
    line-height: 2.5;
    transition: background-color .2s ease-in-out;
    margin-left: 0;
    margin-right: auto;

    &:hover {
        text-decoration: none;
        background-color: rgb(24, 24, 24);
    }
}