.header {
    position: sticky;
    top: -2px;
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    background-color: $background-black;
    z-index: 100;
}

.header__logo {
    padding: 0 35px;
    cursor: pointer;

    @include breakpoint($mobile-bp) {
        padding: 0 15px;
    }

    &:hover {
        background-color: rgb(65, 65, 65);
    }
}

.header__logo-icon {
    transform: translateY(-3px);
    height: 50px;
    width: 30px;

    @include breakpoint($mobile-bp) {
        transform: translateY(0px);
        width: 28px;
    }
}

.header__logo-name {
    display: inline-block;
    padding-left: 20px;
    font-family: 'Play', sans-serif;
    font-size: 20px;
    color: white;
    line-height: 2.5;

    @include breakpoint($tablet-bp) {
        display: none;
    }
}

.header__left-section {
    cursor: pointer;
    display: flex;
}

.header__left-section li {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
}

.header__right-section {
    display: flex;
    margin-right: 0px;
    margin-left: auto;
}

.header__item {
    position: relative;

    &:hover {
        .header__link {
            text-decoration: none;
            background-color: rgb(65, 65, 65);
        }

        >.header__subnav-links {
            display: block;
        }

        >.has-subnav {
            &:after {
                transform: translateY(-50%);
                border-color: black transparent transparent transparent;
            }
        }
    }
}

.header__link {
    padding: 0px 55px 0px 35px;
    font-family: 'Play', sans-serif;
    font-size: 20px;

    line-height: 2.5;
    display: block;

    color: $white;
    text-decoration: none;
    transition: background-color .2s linear;

    &.header__link--has-subnav {
        position: relative;
        padding-right: 40px;

        &:after {
            content: "";
            display: block;
            margin-top: 2px;

            border-style: solid;
            border-width: 6px 5px 0 5px;
            border-color: $white transparent transparent transparent;
            position: absolute;
            top: 50%;
            right: 1.35rem;
            transform: translateY(-70%);
        }
    }


    @include breakpoint($mobile-bp) {
        font-size: 16px;
        line-height: 3.1;
        padding: 0px 55px 0px 15px;
    }

}


.header__link--contacts {
    padding: 0 35px;
    font-family: 'Play', sans-serif;
    font-size: 20px;
    line-height: 2.5;
    color: white;
    transition: all 0.1s ease-in-out;

    @include breakpoint($mobile-bp) {
        font-size: 16px;
        line-height: 3.1;
        padding: 0px 25px 0px 15px;
    }

    &:hover {
        background-color: rgb(65, 65, 65);
        text-decoration: none;
    }
}


.header__subnav-links {
    z-index: 50;
    display: none;
    width: 300px;
    background-color: rgb(65, 65, 65);
    padding: 0 0 20px 0;
    position: absolute;
    top: 100%;
    left: 0;
}


.header__subnav-link {
    width: 100%;
    position: relative;
    z-index: 51;
    display: block;
    padding: 0px 35px;
    font-size: 20px;
    color: $white;
    line-height: 2.5;
    transition: background-color .2s ease-in-out;
    margin-left: 0;
    margin-right: auto;

    &:hover {
        text-decoration: none;
        background-color: rgb(24, 24, 24);
    }

    @include breakpoint($mobile-bp) {
        font-size: 16px;
        line-height: 3.1;
        padding: 0px 55px 0px 15px;
    }
}