.slider-main {
    z-index: -10;
    max-width: 1400px;
    margin: 0 auto;
    transform: translateY(-75px);
}

.slider-main-admin {
    height: 300px;
    background-color: #f8f8f8;
}

.slider-main__image {
    max-width: 1400px;
    width: 100%;
}

.slider-main__title-text {
    position: absolute;
    top: 150px;
    left: 100px;
    font-size: 33px;
    font-weight: 700;
}

.slider-main__title-text-home {
    color: black;
}

.slider-main__title-text-contacts {
    color: white;
}

.slider-main__paragraph-text {
    position: absolute;
    top: 200px;
    left: 100px;
    font-size: 19px;
    font-weight: 500;
}

.slider-main__paragraph-text-home {
    width: 45%;
    color: black;
}

.slider-main__paragraph-text-contacts {
    width: 30%;
    color: white;
}


.slider-main__paragraph-text-link-home {
    font-weight: 600;
    color: rgb(24, 61, 95);
    cursor: pointer;

    &:hover {
        border-bottom: 2px solid rgb(24, 61, 95);
    }
}

.slider-main__description {
    text-align: end;
}

.slider-main__description-text {
    color: black;
}