.upper-header {
    display: flex;
    justify-content: flex-end;
    max-width: 1200px;
    margin: 4px auto;
    z-index: 100;
}

.upper-header__info {
    display: flex;
    flex-direction: row;
    cursor: pointer;

    &:hover {
        color: rgb(0, 0, 0);
    }
}

.upper-header__info-item {
    margin: 0px 2px;
    background-color: rgb(233, 233, 233);

    &:hover {
        background-color: #CFD8DC;

        .upper-header__link {
            color: $blue;
        }
    }
}

.upper-header__link {
    padding: 4px 40px;
    font-size: 15px;
    color: black;
    line-height: 2.1;

    @include breakpoint($mobile-bp) {
        padding: 4px 30px;
        font-size: 12px;
        line-height: 3.1;
    }

}