.database-filter__wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    margin-top: 20px;
    cursor: pointer;

    &:hover {
        .database-filter__middle {
            background-color: $background-item-hover;
            transition: background-color .1s linear;
        }

        .database-filter__top-left {
            background-color: $background-item-hover;
            transition: background-color .1s linear;
        }

        .database-filter__title {
            color: rgb(0, 0, 0);
        }

        .database-filter__data {
            border-color: rgb(185, 185, 185);
            transition: border-color .1s linear;
        }

        .filters-price__input {
            transition: background-color .1s linear;
            background-color: $background-item-hover;
        }

        .noUi-tooltip {
            transition: background-color .1s linear;
            background-color: $background-item-hover;
        }
    }
}



/* ***** FILTER__TOP START ***** */
.database-filter__top {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.database-filter__top-left {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    padding: 4px 0px;
    min-width: 150px;
    background-color: $background-item;
    transition: background-color .5s linear;

    @include breakpoint($mobile-bp) {
        min-width: 120px;
    }
}

.database-filter__title {
    padding-left: 10px;
    font-size: 12px;
    color: $darkgray;
}

.database-filter__top-right {
    width: 50%;
    background-color: $background-section;
}

.database-filter__close {
    width: 150px;
    min-width: 150px;
    background-color: $background-item;
    transition: background-color $transition-time linear;
    padding: 4px 0;
    display: none;
    visibility: hidden;

    &:hover {
        background-color: $background-item-hover;
        transition: background-color $transition-time linear;
        cursor: pointer;
    }
}

.database-filter__close--active {
    display: block;
    visibility: visible;
}

.database-filter__close-text {
    color: $darkgray;
    padding-left: 10px;
    font-size: 12px;

    &:hover {
        color: $black;

        .database-filter__wrapper {
            transition: opacity $transition-time linear;
        }
    }
}

/* ***** FILTER__TOP END ***** */





/* ***** FILTER__MIDDLE START ***** */
.database-filter__middle {
    display: flex;
    flex-direction: row;
    overflow: auto;
    background-color: $background-item;
    width: 100%;
    padding: 12px 10px;
    color: black;
    transition: background-color .5s linear;

    @include breakpoint($mobile-bp) {
        padding: 10px 10px;
    }
}

.database-filter__data {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-width: 250px;
    margin-left: 10px;

    padding: 12px 30px 12px 20px;
    padding-bottom: 0px;

    border: 1px solid #dddddd;
    border-radius: 5px;
    transition: padding-bottom $transition-time $transition;

    &:first-child {
        margin-left: 0px;
    }

    @include breakpoint($mobile-bp) {
        padding: 15px 30px 15px 20px;
        padding-bottom: 0px;
    }

}

.database-filter__data--active {
    padding-bottom: 12px;
    transition: padding-bottom $transition-time $transition;

    @include breakpoint($mobile-bp) {
        padding: 15px 30px 15px 20px;
        padding-bottom: 15px;
    }
}

.database-filter__data--type {
    min-width: 230px;
}

.database-filter__data--weight {
    width: 50%;
    min-width: 300px;

    @include breakpoint($navigation-bp) {
        min-width: 450px;
    }
}

.database-filter__data--price {
    width: 50%;
    min-width: 300px;

    @include breakpoint($navigation-bp) {
        min-width: 450px;
    }
}

.database-filter__current-value {
    font-size: 14px;
}

.database-filter__current-value--span {
    font-size: 19px;
    margin-left: 10px;
    padding: 10px 14px;
    background-color: $background-section;
    border-radius: 10px;

    @include breakpoint($mobile-bp) {
        font-size: 17px;
    }
}


.database-filter__options-data {
    width: 100%;
    margin: 0px auto 12px;
    overflow: hidden;
    max-height: 0px;
    transition: margin $transition-time $transition, max-height $transition-time $transition;
}

.database-filter__options-data--active {
    margin: 10px auto 15px;
    max-height: 240px;
    visibility: visible;
    transition: margin $transition-time $transition, max-height $transition-time $transition;
}

.database-filter__options {
    display: flex;
    padding: 5px;
    cursor: pointer;
    margin-bottom: 5px;

    &:first-child {
        margin-top: 20px;
    }

    &:hover {
        color: $blue;
    }
}

.database-filter__options-input {
    cursor: pointer;
}

.database-filter__options-label {
    padding-left: 5px;
    cursor: pointer;
}


.database-filter__options-text {
    display: flex;
    justify-content: flex-start;
    margin-left: 27px;
    margin-top: 20px;
}


.database-filter__options-text-label {
    align-items: center;
    display: flex;
    font-size: 14px;
}

.database-filter__options-text-range {
    font-size: 14px;
}

.database-filter__options-input {
    border: none;
    color: black;
    padding: 0 10px;

    line-height: 10px;

    padding: 0px 5px;
    margin: 0 5px;

    background-color: $background-item;
    transition: background-color .5s linear;

    vertical-align: top;
    outline: none;

    height: 30px;

    display: inline-block;
    width: 60px;
    box-sizing: border-box;

    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield;

    font-size: 16px;
}

.database-filter__options-input:focus {
    outline: 2px solid rgb(128, 128, 128);
    // border-bottom: 2px solid black;
}

.database-filter__options-input::-webkit-outer-spin-button,
.database-filter__options-input::-webkit-inner-spin-button {
    display: none;
}

.database-filter__filters {
    margin-top: 57px;
}

.database-filter__filters-item {
    padding: 0 35px;
}

.database-filter__slider {
    margin: 25px 0 46px 0;
}

/* ***** FILTER__MIDDLE END ***** */